@link https: //utopia.fyi/type/calculator?c=320,15,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --VerydarkblueMain: hsl(217, 54%, 11%);
    --VerydarkblueCard: hsl(216, 50%, 16%);
    --VerydarkblueLine: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Outfit: 'Outfit', sans-serif;
    --step--2: clamp(0.65rem, calc(0.60rem + 0.26vw), 0.80rem);
    --step--1: clamp(0.78rem, calc(0.71rem + 0.38vw), 1.00rem);
    --step-0: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.25rem);
    --step-1: clamp(1.13rem, calc(0.97rem + 0.76vw), 1.56rem);
    --step-2: clamp(1.35rem, calc(1.14rem + 1.05vw), 1.95rem);
    --step-3: clamp(1.62rem, calc(1.33rem + 1.43vw), 2.44rem);
    --step-4: clamp(1.94rem, calc(1.56rem + 1.93vw), 3.05rem);
    --step-5: clamp(2.33rem, calc(1.82rem + 2.58vw), 3.82rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--VerydarkblueMain);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3em;
    font-family: var(--Outfit);
}
.container{
    background-color: var(--VerydarkblueCard);
    color: var(--Softblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 2em;
    max-height: 80%;
    max-width: 60%;
    margin: 0 auto;
}
.container img{
    border-radius: 12.5%;
    max-width: 95%;
    max-height: 95%;
    padding-block: 1em;
}
.mainContent{
   padding-block: 1em;

} 
/* Header and paragraph */
h1{
    color: var(--White);
    font-size: var(--step-2);
    padding-bottom: 1em;
}
p{
    font-size: var(--step-0);
    padding-bottom: 1em;
    line-height: 1.8em;
}
/* Part above the line */
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--step-0);
    padding-bottom: 2em;
}
.eth{
    color: var(--Cyan);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.eth img{
    padding-inline: 1em;
}
.days{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.days img{
    padding-inline: 1em;
}
/* Line */
hr{
    color: var(--VerydarkblueLine);
    width: 100%;

}
/* User image and name at bottom */
.user{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-block: 2em;
}
.user img{
    border: 1px solid var(--White);
    padding: 0;
    border-radius: 50%;
}
.user h4{
    display: flex;
    align-items: center;
}
.user span {
    color: var(--White);
}

/* Media Screens */
@media screen and (max-width: 500px) {
    .container{
        padding: 1em;

    }
    h1{
        font-size: var(--step--1);
    }
    p{
        font-size: var(--step--2);
    }
    .info{
        font-size: 0.5em;
    }
    .user{
        display: flex;
        flex-direction: column;
        padding: 0.5em;
    }
    .user h4{
        font-size: 0.3em;
        padding-top: 1em;
    }
    .user img{
       height: 50px;
       width: 50px;
    }
    
}
@media screen and (max-width: 764px){

    .user{
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .user h4{
        font-size: 0.7em;
        padding-top: 1em;
    }
    .user img{
       height: 100px;
       width: 100px;
    }
}
